
@{ 
    ViewBag.Title = "Home Page";
}

<link href="Index.css" rel="stylesheet" type="text/css" />

<h2>This is the CPW website</h2>
<p>
    This website is currently under construction. Check back later!
</p>